nav {
  cursor: default;
  display: flex;
  flex-grow: 1;
  pointer-events: none;
  .content {
    pointer-events: all;
    width: 100%;
    height: 70px;
    background: #000;
    font-size: 16px;
    font-weight: 600;
    padding: 20px 40px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .brand {
      display: flex;
      align-items: center;
      .logo svg g {
        fill: var(--primary-theme-color);
      }
      div:not(:first-child) {
        margin-left: 20px;
      }
    }
    .links {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        li:not(:last-child) {
          margin-right: 60px;
        }
        a {
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }
  &.scrolled {
    position: sticky;
    top: 20px;
    z-index: 1;
    justify-content: flex-end;
    transition: all 0.4s ease;
    .content {
      width: 70px;
      padding: 0;
      justify-content: center;
      .brand .title,
      .links {
        display: none;
      }
    }
  }
  &.expanded {
    right: 20px;
    top: 20px;
    transition: all 0.4s ease;
    .content {
      width: auto;
      padding: 20px 40px;
      justify-content: flex-end;
      .brand {
        display: none;
      }
      .links {
        display: flex;
      }
    }
  }
}
