nav {
  cursor: default;
  display: flex;
  flex-grow: 1;
  pointer-events: none;
  position: sticky;
  top: 20px;
  z-index: 1;
  justify-content: flex-end;
  overflow: hidden;
  white-space: nowrap;
  .content {
    overflow: hidden;
    white-space: nowrap;
    transition: all var(--nav-anim-duration) ease-in;
    pointer-events: all;
    width: 100%;
    height: 70px;
    background: #000;
    font-size: 16px;
    font-weight: 600;
    padding: 20px 40px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .brand {
      display: flex;
      align-items: center;
      opacity: 1;
      width: auto;
      transition: opacity var(--nav-anim-duration) ease-in;
      .logo svg g {
        fill: var(--primary-theme-color);
      }
      .title {
        margin-left: 20px;
        opacity: 1;
        width: auto;
        transition: opacity var(--nav-anim-duration) ease-in;
      }
    }
    .links {
      overflow: hidden;
      white-space: nowrap;
      opacity: 1;
      width: auto;
      transition: opacity var(--nav-anim-duration) ease-in;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        li:not(:last-child) {
          margin-right: 60px;
        }
        a {
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }

  &.scrolled {
    .content {
      width: 70px;
      padding: 0 0 0 20px;
      .brand .title,
      .links {
        opacity: 0;
        width: 0;
      }
    }
  }
  &.expanded {
    .content {
      width: 331px;
      padding: 20px 40px;
      .brand {
        opacity: 0;
        width: 0;
      }
      .links {
        opacity: 1;
        width: auto;
      }
    }
  }
}
