.code {
  code {
    width: 100%;
    display: block;
    padding: 20px !important;
    font-size: 14px;
    white-space: pre-wrap !important;
    border-radius: 10px !important;
    background: var(--code-background-color) !important;
  }
}
