@import url('https://indestructibletype.com/fonts/Jost.css');

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  font-family: 'Jost', sans-serif;
  font-weight: normal;
  background: var(--primary-background-color);
  color: var(--primary-text-color);
}

main {
  height: 100%;
}

h1 {
  font-size: 62px;
  font-weight: 600;
  margin: 0;
}

h2 {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
}

h3 {
  font-weight: 200;
  margin: 0;
}

p {
  margin: 0;
}

body {
  height: 100%;
}

a {
  color: var(--primary-theme-color);
  text-decoration: none;
}
