.light_mode {
  --nav-color: var(--nav-color-light);
  --panel-color: var(--panel-color-light);
  --theme-selector-color: var(--theme-selector-color-light);
}

.dark_mode {
  --nav-color: var(--nav-color-dark);
  --panel-color: var(--panel-color-dark);
  --theme-selector-color: var(--theme-selector-color-dark);
}
