.dark-theme {
  background-color: #0d0d0d;
  --nav-color: black;
  --panel-color: rgba(255, 255, 255, 0.02);
  --text-color: white;
  color: white;
}

.light-theme {
  background-color: #f7f7f7;
  --nav-color: #e8e8e8;
  --panel-color: #ffffff;
  --text-color: black;
  color: black;
}
