@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

$primary-color: #00e9ff;

:root {
  --primary-theme-color: #{$primary-color};
  --primary-theme-color-rgb: #{hexToRGB($primary-color)};
}
