.layout {
  padding: 20px;
  .page {
    display: flex;
    margin-top: 20px;
    .sideMenuColumn {
      width: 250px;
      flex-shrink: 0;
      .sideMenuContainer {
        position: sticky;
        top: 20px;
      }
    }
    .contentColumn {
      width: calc(100vw - 250px);
      margin-left: 60px;
      .children {
        max-width: 1000px;
      }
    }
  }
  .schemeToggleContainer {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
}
