@import url('https://indestructibletype.com/fonts/Jost.css');

html,
body {
  margin: 0;
}

body {
  box-sizing: border-box;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: 'Jost';
}
