@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

html,
body {
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--primary-background-color);
}
