.homePage {
  section {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
    h2 {
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 8px;
    }
  }
  code {
    width: 100%;
    display: block;
    padding: 20px !important;
    font-size: 14px;
    white-space: pre-wrap !important;
    border-radius: 10px !important;
    background: var(--code-background-color) !important;
  }
}
