.panel {
  padding: 40px 140px 60px 60px;
  border-radius: 35px;
  background-color: var(--panel-color);
  margin-bottom: 20px;
  font-size: 18px;
  h1 {
    margin-bottom: 20px;
  }
  h2 {
    margin-bottom: 20px;
  }
  h3 {
    margin: 20px 0;
  }
  p {
    margin-bottom: 20px;
    line-height: 28px;
    color: var(--neutral-2);
  }
  hr {
    margin-bottom: 30px;
    border: none;
    height: 1px;
    background: var(--neutral-1);
  }
  code {
    font-weight: bold;
  }
  table {
    margin-bottom: 40px;
  }
}
