.panel {
  padding: 40px 140px 60px 60px;
  border-radius: 35px;
  background-color: var(--panel-color);
  margin-bottom: 20px;
  font-size: 18px;
  h1 {
    margin-bottom: 20px;
  }
  h2 {
    margin-bottom: 20px;
  }
  h3 {
    margin-bottom: 20px;
  }
  p {
    opacity: 0.6;
    margin-bottom: 20px;
    line-height: 28px;
  }
  hr {
    margin-bottom: 30px;
    border-color: rgba(128, 128, 128, 0.2);
    border-style: solid;
  }
  code {
    font-weight: bold;
  }
  .introCode {
    outline: 1px solid red;
  }
}
