.panel {
  padding: 40px 140px 60px 60px;
  border-radius: 35px;
  background-color: rgba(255, 255, 255, 0.02);
  margin-bottom: 20px;
  font-size: 18px;
  h1 {
    margin-bottom: 30px;
  }
  h2 {
    margin-bottom: 20px;
  }
  p {
    opacity: 0.6;
  }
}
