.appTheme {
  background-color: var(--background-color);
  color: var(--text-color);
}

.lightTheme {
  --text-color: var(--text-color-light);
  --background-color: var(--background-color-light);
  --nav-color: var(--nav-color-light);
  --panel-color: var(--panel-color-light);
  --theme-selector-color: var(--theme-selector-color-light);
}

.darkTheme {
  --text-color: var(--text-color-dark);
  --background-color: var(--background-color-dark);
  --nav-color: var(--nav-color-dark);
  --panel-color: var(--panel-color-dark);
  --theme-selector-color: var(--theme-selector-color-dark);
}
